.klasa {
  border: 2px black solid;
  border-radius: 15px;
  margin: 20px auto;
  padding: 40px;
  width: 800px;
}

.klasa1 {
  background-color: rgb(53, 53, 250);
  text-align: center;
}

.klasa2 {
  background-color: rgb(67, 248, 61);
  text-align: left;
}

.klasa3 {
  background-color: rgb(252, 239, 61);
  text-align: right;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  padding: 15px;
  text-decoration: none;
  color: black;
}

#naslov1 {
  color: darkblue;
}

#text1 {
  color: darkblue;
}

#link1 {
  background-color: rgb(24, 24, 253);
}

#naslov2 {
  color: darkgreen;
}

#text2 {
  color: darkgreen;
}

#link2 {
  background-color: rgb(1, 124, 1);
}

#naslov3 {
  color: rgb(146, 80, 0);
}

#text3 {
  color: rgb(146, 80, 0);
}

#link3 {
  background-color: rgb(172, 96, 3);
}
