.page{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.card{
    width: 30%;
    height: 75%;
    border: 1px gray solid;
}
.card img{
    width: 100%;
    height: 48%;
}
.card h3{
    color: gray;
}
.card p{
    color: rgb(78, 78, 78);
}
.donji_deo{
    padding: 15px;
}
body{
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 1000px) {
    .page{
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 50px;
    }
    .card{
        width: 90%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 600px) {
    .page{
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 50px;
    }
    .card{
        width: 90%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}