.top{
    height: 35vh;
    text-align: center;
    padding-top: 20vh;
}
.top h1{
    font: 1em sans-serif;
    font-size: x-large;

}
.top p{
    display: inline-block;
    width: 700px;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
}
.bottom{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
}
.box{
    display: inline-block;
    width: 370px;
    height: 125px;
    border:rgb(170, 170, 170) 0.5px solid;
    border-radius: 7px;
    padding: 15px;
}
.box h2{
    font-size: medium;
    font-family: system-ui;
}
.box img{
    width: 25px;
    height: 25px;
    margin-top: 7px;
    border-radius: 50%;
}
.steel{
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
}
.dugme{
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    border: white 1px solid;
}