div{
    position: absolute;
    border: black 1px solid;
}
.prvi{
    width: 300px;
    height: 250px;
    top: 15px;
    left: 15px;
    background-color: yellow;
}
.drugi{
    width: 200px;
    height: 200px;
    top: 200px;
    left: 250px;
    background-color: green;
}
.treci{
    width: 600px;
    height: 150px;
    top: 300px;
    left: 20px;
    background-color: blue;
}
.cetvrti{
    width: 100px;
    height: 500px;
    left: 600px;
    top: 10px;
    background-color: red;
}